header {
    text-align: left;
    position: absolute;
}
h1 {
    position: relative;
    color: white;
    text-align: right;
}
body {
    background-color:#241309ba
}
p{
    position: relative;
    text-align: right;
    color: white;
}
main {
    position: relative;
    text-align: right;
    color: white;
}