header {
    text-align: right;
    position: relative;

}
h1 {
    position: relative;
    color: white;
    text-align: left;
    font-size: 3rem;
}
body {
    background-color:#241309ba
}
p{
    position: relative;
    text-align: left;
    color: white;
    font-size: 1.1rem;
}
main {
    position: relative;
    text-align: left;
    color:white;
    font-size: 1.5rem;

}
li {
    position: relative;
    text-align: left;
    color:white;
    font-size: 1.5rem;
}